<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickOdds_Calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickOdds_Calculator.Properties.Settings>
            <setting name="ShowPlayerNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveSimulations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HistoryShowPlayerNames" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickOdds_Calculator.Properties.Settings>
    </userSettings>
</configuration>